{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="img">
        <img src="{{ bars.img_url }}" alt="bar image">
    </div>
    <div class="information">
        <h1><strong>{{ bars.name }}</strong></h1><br>
        <ul>
            <li>{{ bars.location }}</li>
            <li>{{ bars.alias }}</li>
            <li>{{ bars.rating }}</li>
        </ul>
    <button><a href="/">Home Page</a></button>
    <form method='POST' action='/bars/{{ bars._id }}/delete'>
        <button type='submit'>Delete</button>
    </form>
    </div>
    
</div>
{% endblock %}