<fieldset>
    <legend>{{ title }}</legend>
    <div class="bar_form">
        <label for="bar_name">Bar Name:</label>
        <input type="text" id="bar_name" name="name"  placeholder="Name" required>
    </div>
    <div class="bar_form">
        <label for="bar_location">Location:</label>
        <input type="text" id="bar_location" name="location"  placeholder="Location" required>
    </div>
    <div class="bar_form">
        <label for="bar_rating">Rating:</label>
        <input type="text" id="bar_rating" name="rating"  placeholder="Rating">
    </div>
    <div class="bar_form">
        <label for="bar_alias">Type:</label>
        <input type="text" id="bar_alias" name="alias"  placeholder="Alias">
    </div>
    <div class="bar_form">
        <label for="img_url">Add a picture:</label>
        <input type="text" id="img_url" name="image" placeholder="jpg,img">
    </div>
    <button type="submit">Submit</button>
    <button><a href="/">Cancel</a></button>
</fieldset>